<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>488358130281-co1n6t23gnk44l1jual0qbctu30o3iaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488358130281-co1n6t23gnk44l1jual0qbctu30o3iaf</string>
	<key>API_KEY</key>
	<string>AIzaSyAfvSpF33Wtd4p-yVDWxRg-wsowuCjZnwI</string>
	<key>GCM_SENDER_ID</key>
	<string>488358130281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JACios</string>
	<key>PROJECT_ID</key>
	<string>jacobyartscenter-7657c</string>
	<key>STORAGE_BUCKET</key>
	<string>jacobyartscenter-7657c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488358130281:ios:4e2c2260d9a41a34</string>
	<key>DATABASE_URL</key>
	<string>https://jacobyartscenter-7657c.firebaseio.com</string>
</dict>
</plist>